/* Aquí se modifica únicamente lo relacionado con la plantilla base:
barra de navegación, footer, aside,etc  */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:400;
    color: #505050;
    font-size: medium;
    
}


.bloques{
    animation-name: inicio;
    animation-duration: 0.5s;
}
@keyframes inicio{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

/* _________BARRA DE NAVEGACIÓN_______ */

header{
    position: fixed;
    width: 100%;
    top: 0%;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 10px 32px #88b0e7;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.Navegacion{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    height: 40px;
    padding-top: 0px;
    max-width: 1000px;
    
}

.Links{
    display: flex;
    list-style: none;
    padding-top: 10px;
}

.Links a{
    text-decoration: none;
    
    font-weight: bold;
    color: #576677;
}

#top{
    padding-left: 10px;
    padding-right: 10px;
    cursor:context-menu;
    margin-bottom: 10px;
}

#top .slide{
    top: 34px;
    padding-top: 20px;
    padding-bottom: 10px;
    position: absolute;
    display: none;
    background: linear-gradient(180deg, rgba(255,255,255,0) 3%, rgba(255,255,255,1) 4%);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 10px 12px 0px #88b0e7;
}
#top .slide li{
    list-style: none;
    padding-bottom: 10px;
    
}

#menu_icon{
    display: none;
    width: 30px;
    height: 30px;
}
.logo{
    width: 100%px;
    margin: 0%;
    padding-top: 5px;
}
.logo img{
    width: 100px;
}

/* acciones y animaciones */

#top:hover .slide{
    display: block;
    animation-name: slide_anim;
    animation-duration: 0.1s;
}

#top:hover{
    padding-bottom: 1.4%;
    box-shadow: inset 0px -4px #88b0e7;
}

.slide li:hover a{
    color: #88b0e7;
}

@keyframes slide_anim{
    from{
        top:30px;
        opacity: 0%;
    }
    to{
        top: 34px;
        opacity: 100%;
    }
}




/* ___________ FONDO DE LA PÁGINA_________ */

.fondo{
    position: absolute;
    background: linear-gradient(180deg, #d1e7f5 7%, rgba(210,231,244,1) 53%, rgba(255,255,255,0) 85%);
    width: 100%;
    height: 500px;
    top: 40px;
    z-index: -1;
}

/* __________ CONTENIDO DE LA PÁGINA_______ */

.bloques{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 25px;
}

/* aside */

aside{
    position: fixed;
    top: 0%;
    width: 30px;
    height: 100vh;
    right: 0%;
    display: flex;
    flex-direction: column;
    box-shadow: inset 4px 0px #88b0e7b0;
    background-color: rgb(255, 255, 255);
    opacity: 20%;
    z-index: 20;
}

.cont_aside{
    display: none;
    opacity: 0%;
    flex-direction: column;
    padding-top: 60px;
    height: 80%;
    padding-left: 20px;
    text-align: center;
}

aside iframe{
    padding-top: 20px;
    width: 360px;
    height: 500px;
    left: 10px;
    padding-bottom: 10px;
}

aside p, h1{
    font-weight: bold;
    padding-right: 10px;
}
.icon_abrir img{
    position: fixed;
    width: 30px;
    height: 30px;
    right: 30px;
    top:50%;
    opacity: 30%;
    animation-name: icon_abrir_anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}


/* acciones y animaciones del aside */


aside:hover{
    width: 380px;
    animation-name: asideAnim;
    animation-duration: 0.2s;
    opacity: 100%;
    
}
aside:hover .cont_aside{
    display: flex;
    animation-name: aside_opacity;
    animation-duration: 1s;
    opacity: 100%;
}
@keyframes aside_opacity{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

@keyframes asideAnim{
    from{
        width: 30px;
    }
    to{
        width: 380px;
    }
}


@keyframes icon_abrir_anim{
    from{
        right: 30px;
    }
    to{
        right: 50px;
    }
}


/*_____________ FOOTER __________*/

footer{
    position:relative;
    bottom: 0px;
    background-color: #ffffff;
    z-index: 800;
}
.footerContenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    box-shadow: 0px -4px 0px #88b0e752;
    height: 60px;
}

.logonav{
    width: 100px;
}


.contenido_principal{
    height: 100%;
    padding: 24px 32px 24px 15px;
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 30px 30px 30px 30px;
}