article img{
    width: 300px;
    flex-direction: column;
    box-shadow: 0px 1px 10px #749bd1;
    border-radius: 20px;
}

.informacion_principal{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}

.informacion_principal h1{
    padding-top: 60px;
    right: 10%;
    font-size: 25px;
    font-weight: bold;
    opacity: 90%;
}

.Parrafo_principal{
    padding-left: 20px;
    padding-right: 20px;
    opacity: 80%;
}
.Parrafo_principal h1{
    font-weight:750;
    font-size: 20px;
}
.Parrafo_principal p{
    padding-left: 10px;
    padding-top: 15px;
}